{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}All news{% endblock title %}

{% block content %}
<h1>Все новости</h1>
<h5>{{ time_now }}</h5>
<h4>Количество статей: {{ posts|length}}</h4>
<hr>
{% if posts %}
<table>
    <tr>
        <td>
            Заголовок
        </td>
        <td>
            Дата публикации
        </td>
        <td>
            Текс статьи
        </td>
    </tr>
    {% for post in posts %}
    <tr>
        <td>
            {{ post.title|censor }}
        </td>
        <td>
            {{ post.dateCreation|date:'d M Y' }}
        </td>
        <td>
            {{ post.text|censor|truncatechars:50 }}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2>Статей нет!</h2>
{% endif %}
{% endblock content %}
